.bg-costume{
    background-color: #FCF4EB;
    
}

.bg-jombotron{
    background-color: #00352D !important;
}

.bg-btn{
    background-color: #FF4800 !important;
    border-radius: 5em !important;
}

.bg-fact{
    background-color: #F5E0C8 !important;
}

.border-fact{
    border-color: #F5E0C8 !important;
}